.btn {
    background-color: white;
    border: none;
    color: #444B54;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 100%;
    transition: 0.3s;
}


.btn-b {
	border: solid 1px dodgerblue;
    height: 90px;
    width: 90px;	
}

.btn-a {
    height: 200px;
    width: 200px;		
}



/* Darker background on mouse-over */
.btn-b:hover {
    border: solid 2px dodgerblue;
}

.btn_f_delete {
	background-image: url('../img/f-delete.png');
	background-repeat:no-repeat;
	background-position : center center;
}

.btn_f_add {
	background-image: url('../img/f-add.png');
	background-repeat:no-repeat;
	background-position : center center;
}

.btn_f_scan {
	background-image: url('../img/f-scan.png');
	background-repeat:no-repeat;
	background-position : center center;
}

.btn_f_cancel {
    background-image: url('../img/cancel.png');
    background-repeat:no-repeat;
    background-position : center center;
}


.btn_f_restart {
    background-image: url('../img/restart.png');
    background-repeat:no-repeat;
    background-position : center center;
}


.form-group {
    margin-bottom: 1rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
}

.errspan {
    float: right;
    margin-right: 6px;
    margin-top: -27px;
    position: relative;
    z-index: 2;
    opacity: 0.7;
    color: red;
}

@media (min-width: 992px) {
	.form-group {
	    margin-bottom: 1rem;
	    text-align: center;
	    margin-left: auto;
	    margin-right: auto;
	    width: 25%;
	}
}

.fa {
  transition: transform 200ms ease-in-out;
}
